<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonCheap - Productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <script defer src="{{ url_for('static', filename='scriptFavoritos.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scriptChatbotButton.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="MonCheap" class="logo-nav">
                <span class="ms-2 fw-bold">MonCheap</span>
            </a>
            
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/likes">
                            <i class="fas fa-heart"></i> Favoritos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa">
                            <i class="fas fa-map"></i> Mapa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">
                            <i class="fas fa-user"></i> Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout-btn" href="/logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5 pt-5">
        <h2 class="text-center mb-4">Productos</h2>

        <!-- Contenedor de búsqueda y filtros -->
        <div class="search-filter-container text-center mb-4">
            <input type="text" id="searchInput" class="search-bar" placeholder="Buscar productos...">
            <button class="filter-button" id="searchButton">Buscar</button>
        </div>

        <!-- Sección de productos más gustados -->
        <div class="container mt-5" style="background: linear-gradient(135deg, #fbfbfb, #f0f0f0); border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);" id="masGustados">
            <h2 class="text-center mb-4">Productos más gustados</h2>
            <div class="row justify-content-center">
                {% for product in most_liked %}   
                    <div class="col-md-4 col-lg-2 mb-4">
                        <div class="card shadow-lg product-card">
                            <div class="image-container">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <img src="{{ product.img if product.img else '' }}" onerror="this.classList.add('error')" 
                                        class="card-img-top product-img" 
                                        alt="{{ product.nombre }}">
                                </a>
                                <button class="heart-btn" data-product-id="{{ product.id_producto }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if product.id_producto in favoritos %}Quitar de favoritos{% else %}Añadir a favoritos{% endif %}">
                                    {% if product.id_producto in favoritos %}
                                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.0298 5.33C17.5998 3.88 19.6898 3 21.9998 3C26.9698 3 30.9998 7.03 30.9998 12C30.9998 20 20.9998 29 15.9998 31C10.9998 29 0.999817 20 0.999817 12C0.999817 7.03 5.02982 3 9.99982 3C12.3098 3 14.4098 3.88 15.9998 5.3L16.0298 5.33Z" fill="#ff0000"></path> <path d="M16 5.30451C14.407 3.87551 12.309 2.99951 10 2.99951C5.029 2.99951 1 7.02951 1 11.9995C1 19.9995 11 28.9995 16 30.9995C21 28.9995 31 19.9995 31 11.9995C31 7.02951 26.971 2.99951 22 2.99951C18.477 2.99951 15.479 5.05051 14 7.99951M27 11.9998C27 9.23781 24.762 6.99981 22 6.99981" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                    {% else %}
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    {% endif %}
                                    </svg>
                                </button>
                            </div>
                            
                            <div class="card-body text-center">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <h5 class="card-title">{{ product.nombre }}</h5>
                                    <p class="card-text text-muted">{{ product.categoria }}</p>
                                    <p class="card-text"><small class="text-success fw-bold"><i class="fas fa-heart"></i> {{ product.cantidad_likes }} likes</small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Sección de productos más visitados -->
        <div class="container mt-5" style="background: linear-gradient(135deg, #fbfbfb, #f0f0f0); border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);" id="masVisitados">
            <h2 class="text-center mb-4">Productos más visitados</h2>
            <div class="row justify-content-center">
                {% for product in most_viewed %}   
                    <div class="col-md-4 col-lg-2 mb-4">
                        <div class="card shadow-lg product-card">
                            <div class="image-container">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <img src="{{ product.img if product.img else '' }}" onerror="this.classList.add('error')" 
                                        class="card-img-top product-img" 
                                        alt="{{ product.nombre }}">
                                </a>
                                <button class="heart-btn" data-product-id="{{ product.id_producto }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if product.id_producto in favoritos %}Quitar de favoritos{% else %}Añadir a favoritos{% endif %}">
                                    {% if product.id_producto in favoritos %}
                                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.0298 5.33C17.5998 3.88 19.6898 3 21.9998 3C26.9698 3 30.9998 7.03 30.9998 12C30.9998 20 20.9998 29 15.9998 31C10.9998 29 0.999817 20 0.999817 12C0.999817 7.03 5.02982 3 9.99982 3C12.3098 3 14.4098 3.88 15.9998 5.3L16.0298 5.33Z" fill="#ff0000"></path> <path d="M16 5.30451C14.407 3.87551 12.309 2.99951 10 2.99951C5.029 2.99951 1 7.02951 1 11.9995C1 19.9995 11 28.9995 16 30.9995C21 28.9995 31 19.9995 31 11.9995C31 7.02951 26.971 2.99951 22 2.99951C18.477 2.99951 15.479 5.05051 14 7.99951M27 11.9998C27 9.23781 24.762 6.99981 22 6.99981" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                    {% else %}
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    {% endif %}
                                    </svg>
                                </button>
                            </div>
                            
                            <div class="card-body text-center">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <h5 class="card-title">{{ product.nombre }}</h5>
                                    <p class="card-text text-muted">{{ product.categoria }}</p>
                                    <p class="card-text"><small class="text-primary fw-bold"><i class="fas fa-eye"></i> {{ product.visitas }} visitas</small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Sección de otros productos -->
        <div class="container mt-5" style="background: linear-gradient(135deg, #fbfbfb, #f0f0f0); border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);" id="otrosProductos">
            <h2 class="text-center mb-4">Otros productos</h2>
            <div class="row justify-content-center" id="productContainer">
                {% for product in productos %}   
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card shadow-lg product-card">
                            <div class="image-container">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <img src="{{ product.img if product.img else '' }}" onerror="this.classList.add('error')" 
                                        class="card-img-top product-img" 
                                        alt="{{ product.nombre }}">
                                </a>
                                <button class="heart-btn" data-product-id="{{ product.id_producto }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if product.id_producto in favoritos %}Quitar de favoritos{% else %}Añadir a favoritos{% endif %}">
                                    {% if product.id_producto in favoritos %}
                                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.0298 5.33C17.5998 3.88 19.6898 3 21.9998 3C26.9698 3 30.9998 7.03 30.9998 12C30.9998 20 20.9998 29 15.9998 31C10.9998 29 0.999817 20 0.999817 12C0.999817 7.03 5.02982 3 9.99982 3C12.3098 3 14.4098 3.88 15.9998 5.3L16.0298 5.33Z" fill="#ff0000"></path> <path d="M16 5.30451C14.407 3.87551 12.309 2.99951 10 2.99951C5.029 2.99951 1 7.02951 1 11.9995C1 19.9995 11 28.9995 16 30.9995C21 28.9995 31 19.9995 31 11.9995C31 7.02951 26.971 2.99951 22 2.99951C18.477 2.99951 15.479 5.05051 14 7.99951M27 11.9998C27 9.23781 24.762 6.99981 22 6.99981" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                    {% else %}
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    {% endif %}
                                </button>
                            </div>
                            
                            <div class="card-body text-center">
                                <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="text-decoration-none text-dark">
                                    <h5 class="card-title">{{ product.nombre }}</h5>
                                    <p class="card-text text-muted">{{ product.categoria }}</p>
                                    {% if product.precio is defined and product.precio is not none %}
                                        <p class="card-text fw-bold">€{{ product.precio | round(2) }}</p>
                                    {% else %}
                                        <p class="card-text fw-bold text-muted">Precio no disponible</p>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">No tienes productos favoritos.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>